.listItems {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: red;
  width: 8vw;
}

.allList {
  display: flex;
  flex-direction: row;
}
